
.slingshot_table {
    text-align: center;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.slingshot_class_list {

    border-right:10px;
}

.slingshot_class_activities {

    border-top: 10px;
}

