
.slingshot_table {
    width: 100px;
    text-align: center;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-top: 0px;
}

.slingshot_apps {

    min-width: 520px;
    min-height: 470px;
}

.slingshot_bg_icons {

    border: 15px;

}

.slingshot_bg_icons:active {

    border-radius: 5px;
    background-color: #4c4c4c;
}
